@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700,900);
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.header__body {
  padding: 30px;
}

.header__text {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.gallery__counter {
  text-align-last: right;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.gallery__row {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  position: relative;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.gallery__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.gallery-counter__texts {
  display: inline-block;
  color: grey;
}

.gallery-counter__texts:first-letter {
  text-transform: capitalize;
}

.gallery-item__image {
  position: relative;
  height: 400px;
  width: 100%;
}

.gallery-item__image img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-item__image:hover + .gallery-item__hidden, .gallery-item__hidden:hover {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-box-shadow: 15px black;
          box-shadow: 15px black;
}

.gallery-item__hidden {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  min-height: 130px;
  padding: 15px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  background-color: #fff;
}

.gallery-item-hidden__title {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
